.Card {
  transition: 1s;
  border-style: solid;
  border-radius: 0.25rem;
  position: relative;
  background-color: rgb(180, 233, 180);
}

.Card--undecided {
  height: 100%;
  width: 50%;
  border-width: 0.25rem;
  border-color: white;
}

.Card--undecided--first {
  height: 50vh;
  width: 50%;
  border-width: 0.25rem;
  border-color: white;
}

.Card--selected {
  height: 100vh;
  width: 100vw;
  border-width: 0rem;
  border-color: white;
  background-color: white;
}
.Card--focused {
  height: 100vh;
  width: 100vw;
  border-width: 0rem;
  border-color: white;
  background-color: white;
}

.Card--neglected {
  height: 0;
  width: 0;
  border-width: 0rem; /*was 0*/
  border-color: white; /*was white*/
}

.Card__top-half {
  height: 50%;
  width: 100%;
}

.BottomHalf {
  height: 50%;
  width: 100%;
  background-color: white;
}
