.Card {
  transition: 1s;
  border-style: solid;
  border-radius: 0.25rem;
  position: relative;
  background-color: seashell;
}

.Card--undecided {
  height: 100%;
  width: 50%;
  border-width: 0.25rem;
  border-color: black;
}

.Card--undecided--first {
  height: 50vh;
  width: 50%;
  border-width: 0.25rem;
  border-color: black;
}

.Card--selected {
  height: 100vh;
  width: 100vw;
  border-width: 0rem;
  border-color: white;
}
.Card--focused {
  height: 100vh;
  width: 100vw;
  border-width: 0rem;
  border-color: white;
}

.Card__top-half {
  height: 50%;
}

.NestedCards {
  height: 50%;
  width: 100%;
}
